{% extends 'stars/dijak/base.html' %}

{% load common %}

{% block head_title %}Predmeti{% endblock %}

{% block nav_predmeti %}active{% endblock %}

{% block breadcrumbs %}{{ block.super }}
    <li><a href="{% url stars_dijak_predmeti dijak.id %}">Predmeti</a></li>
{% endblock %}

{% block content %}
    <div class="grid_8">
        <h2>Predmeti</h2>
        
        <table class="hcols full sortable">
            <thead>
                <th>Predmet</th>
                <th>Profesor</th>
            </thead>
            <tbody>
            {% for p in poucuje %}
                <tr>
                    <td>{{ p.predmet.ime }}</td>
                    <td>{{ p.profesor|name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
