<div class="pager-wrapper">
    <div class="pager">
        <div class="first"><a href="#" onclick="return false;">&lt;&lt; Prva</a></div>
        <div class="prev"><a href="#" onclick="return false;">&lt; Nazaj</a></div>
        <div class="pagedisplay">1/1</div>
        <div class="next"><a href="#" onclick="return false;">Naprej &gt;</a></div>
        <div class="last"><a href="#" onclick="return false;">Zadnja &gt;&gt;</a></div>
        
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
        </select>
        <div class="clear"></div>
    </div>
</div>